BOOTSTRAP_ADDRESS={{ APPSERVER_BOOTSTRAP_ADDRESS }}
CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS={{ APPSERVER_CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS }}
CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS={{ APPSERVER_CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS }}
DCS_UNICAST_ADDRESS={{ APPSERVER_DCS_UNICAST_ADDRESS }}
IPC_CONNECTOR_ADDRESS={{ APPSERVER_IPC_CONNECTOR_ADDRESS }}
ORB_LISTENER_ADDRESS={{ APPSERVER_ORB_LISTENER_ADDRESS }}
OVERLAY_TCP_LISTENER_ADDRESS={{ APPSERVER_OVERLAY_TCP_LISTENER_ADDRESS }}
OVERLAY_UDP_LISTENER_ADDRESS={{ APPSERVER_OVERLAY_UDP_LISTENER_ADDRESS }}
SAS_SSL_SERVERAUTH_LISTENER_ADDRESS={{ APPSERVER_SAS_SSL_SERVERAUTH_LISTENER_ADDRESS }}
SIB_ENDPOINT_ADDRESS={{ APPSERVER_SIB_ENDPOINT_ADDRESS }}
SIB_ENDPOINT_SECURE_ADDRESS={{ APPSERVER_SIB_ENDPOINT_SECURE_ADDRESS }}
SIB_MQ_ENDPOINT_ADDRESS={{ APPSERVER_SIB_MQ_ENDPOINT_ADDRESS }}
SIB_MQ_ENDPOINT_SECURE_ADDRESS={{ APPSERVER_SIB_MQ_ENDPOINT_SECURE_ADDRESS }}
SIP_DEFAULTHOST={{ APPSERVER_SIP_DEFAULTHOST }}
SIP_DEFAULTHOST_SECURE={{ APPSERVER_SIP_DEFAULTHOST_SECURE }}
SOAP_CONNECTOR_ADDRESS={{ APPSERVER_SOAP_CONNECTOR_ADDRESS }}
WC_adminhost={{ APPSERVER_WC_adminhost }}
WC_adminhost_secure={{ APPSERVER_WC_adminhost_secure }}
WC_defaulthost={{ APPSERVER_WC_defaulthost }}
WC_defaulthost_secure={{ APPSERVER_WC_defaulthost_secure }}