BOOTSTRAP_ADDRESS={{ DMGR_BOOTSTRAP_ADDRESS }}
CELL_DISCOVERY_ADDRESS={{ DMGR_CELL_DISCOVERY_ADDRESS }}
CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS={{ DMGR_CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS }}
CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS={{ DMGR_CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS }}
DCS_UNICAST_ADDRESS={{ DMGR_DCS_UNICAST_ADDRESS }}
DataPowerMgr_inbound_secure={{ DMGR_DataPowerMgr_inbound_secure }}
IPC_CONNECTOR_ADDRESS={{ DMGR_IPC_CONNECTOR_ADDRESS }}
ORB_LISTENER_ADDRESS={{ DMGR_ORB_LISTENER_ADDRESS }}
OVERLAY_TCP_LISTENER_ADDRESS={{ DMGR_OVERLAY_TCP_LISTENER_ADDRESS }}
OVERLAY_UDP_LISTENER_ADDRESS={{ DMGR_OVERLAY_UDP_LISTENER_ADDRESS }}
SAS_SSL_SERVERAUTH_LISTENER_ADDRESS={{ DMGR_SAS_SSL_SERVERAUTH_LISTENER_ADDRESS }}
SOAP_CONNECTOR_ADDRESS={{ DMGR_SOAP_CONNECTOR_ADDRESS }}
STATUS_LISTENER_ADDRESS={{ DMGR_STATUS_LISTENER_ADDRESS }}
WC_adminhost={{ DMGR_WC_adminhost }}
WC_adminhost_secure={{ DMGR_WC_adminhost_secure }}
XDAGENT_PORT={{ DMGR_XDAGENT_PORT }}