BOOTSTRAP_ADDRESS={{ NODEAGENT_BOOTSTRAP_ADDRESS}}
CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS={{ NODEAGENT_CSIV2_SSL_MUTUALAUTH_LISTENER_ADDRESS}}
CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS={{ NODEAGENT_CSIV2_SSL_SERVERAUTH_LISTENER_ADDRESS}}
DCS_UNICAST_ADDRESS={{ NODEAGENT_DCS_UNICAST_ADDRESS}}
IPC_CONNECTOR_ADDRESS={{ NODEAGENT_IPC_CONNECTOR_ADDRESS}}
NODE_DISCOVERY_ADDRESS={{ NODEAGENT_NODE_DISCOVERY_ADDRESS}}
NODE_IPV6_MULTICAST_DISCOVERY_ADDRESS={{ NODEAGENT_NODE_IPV6_MULTICAST_DISCOVERY_ADDRESS}}
NODE_MULTICAST_DISCOVERY_ADDRESS={{ NODEAGENT_NODE_MULTICAST_DISCOVERY_ADDRESS}}
ORB_LISTENER_ADDRESS={{ NODEAGENT_ORB_LISTENER_ADDRESS}}
OVERLAY_TCP_LISTENER_ADDRESS={{ NODEAGENT_OVERLAY_TCP_LISTENER_ADDRESS}}
OVERLAY_UDP_LISTENER_ADDRESS={{ NODEAGENT_OVERLAY_UDP_LISTENER_ADDRESS}}
SAS_SSL_SERVERAUTH_LISTENER_ADDRESS={{ NODEAGENT_SAS_SSL_SERVERAUTH_LISTENER_ADDRESS}}
SOAP_CONNECTOR_ADDRESS={{ NODEAGENT_SOAP_CONNECTOR_ADDRESS}}
XDAGENT_PORT={{ NODEAGENT_XDAGENT_PORT}}