create
federateLater=false
templatePath={{ was_base_path }}/profileTemplates/managed
profileName={{ profile_name }}
profilePath={{ was_base_path }}/profiles/{{ profile_name }}
cellName={{ cell_name }}
nodeName={{ node_name }}
hostName={{ inventory_hostname }}
dmgrHost={{ inventory_hostname }}
dmgrPort={{ dmgr_portnum }}
portsFile={{ port_file_path }}