create
enableAdminSecurity=false
templatePath={{ was_base_path }}/profileTemplates/management
serverType=DEPLOYMENT_MANAGER
profileName={{ profile_name }}
profilePath={{ was_base_path }}/profiles/{{ profile_name }}
cellName={{ cell_name }}
nodeName={{ node_name }}
hostName={{ inventory_hostname }}
startingPort={{ starting_port}}
portsFile={{ port_file_path }}